.ContactContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
}

body {
    background: #eef8ff;
}

footer {
    width: 100%;
    bottom: 0;
    background: linear-gradient(#10151B, #10151B);
    color: #fff;
    padding: 6.25rem 0 1rem;
    font-size: 0.8125rem;
    line-height: 1.25rem;
}

.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col {
    flex-basis: 25%;
    padding: 0.625rem;
}

.col:nth-child(2),
.col:nth-child(3) {
    flex-basis: 15%;
}

.col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.LogosImg {
    width: 3rem;
    margin-bottom: 1.875rem;
}

.emailId {
    width: fit-content;
    border-bottom: 0.0625rem solid #ccc;
    margin: 1.25rem 0;

}

ul li {
    list-style: none;
    margin-bottom: 0.75rem;
}

ul li a {
    text-decoration: none;
    color: #fff;
}

.ContactForm {
    padding-bottom: 0.9375rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.0625rem solid #ccc;
    margin-bottom: 3.125rem;
}

form .far {
    font-size: 1.125rem;
    margin-right: 0.625rem;
}

form input {
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

form button .fas {
    font-size: 1rem;
    color: #ccc;
}

hr {
    width: 90%;
    border: 0;
    border-bottom: 0.0625rem solid #1B222B;
    margin: 20px auto;
}

.copyright {
    color: #EAEAEA;
    font-size: 0.625rem;
}

.underline {
    width: 100%;
    height: 0.125rem;
    background: #1B222B;
    border-radius: 0.1875rem;
    position: absolute;
    top: 1.5625rem;
    left: 0;
    overflow: hidden;
}

.underline span {
    width: 0.9375rem;
    height: 100%;
    background: #EAEAEA;
    border-radius: 0.1875rem;
    position: absolute;
    top: 0;
    left: 0.625rem;
    animation: moving linear 2s infinite;
}

.Form {
    display: flex;
    flex-direction: column;
    width: 12.5rem;
}

.group {
    position: relative;
    margin-bottom: 2rem;
}

.Input {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: #EAEAEA;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #1A232E;
}

.Input:focus {
    outline: none;
}

.TextArea {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: #EAEAEA;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #1A232E;
    background: transparent;
    resize: none;
    color: #FFF;
}

.TextArea:focus {
    outline: none;
}

/* LABEL ======================================= */
.Label {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    color: #7C7C7C;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
.Input:focus~.Label,
.Input:valid~.Label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
}

.TextArea:focus~.Label,
.TextArea:valid~.Label {
    top: -20px;
    font-size: 14px;
    color: #467EE7;
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 300px;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

/* active state */
.Input:focus~.bar:before,
.Input:focus~.bar:after {
    width: 50%;
}

/* active state */
.TextArea:focus~.bar:before,
.TextArea:focus~.bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
.Input:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* active state */
.TextArea:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes moving {
    0% {
        left: -1.25rem;

    }

    100% {
        left: 100%;
    }
}

@media (max-width: 43.75rem) {
    footer {
        bottom: unset;
    }

    .col {
        flex-basis: 100%;
    }

    .col:nth-child(2),
    .col:nth-child(3) {
        flex-basis: 100%;
    }
}