.ContactContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
}

body {
    background: #eef8ff;
}

footer {
    width: 100%;
    bottom: 0;
    background: linear-gradient(#10151B, #10151B);
    color: #EAEAEA;
    font-size: 0.8125rem;
    line-height: 1.25rem;
    padding: 5.625rem 10.75rem;
}

.copyright p {
    color: #EAEAEA;
    font-size: 12px;
    font-family: Inter;
    font-weight: 400;
    vertical-align: bottom;
}


.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.col:nth-child(3) {
    width: 272px;

}

.col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.LogosImg {
    width: 3rem;
    margin-bottom: 1.875rem;
}

.emailId {
    width: fit-content;
    border-bottom: 0.0625rem solid #ccc;
    margin: 1.25rem 0;
}

ul li {
    list-style: none;
    margin-bottom: 0.75rem;
}

ul li a {
    text-decoration: none;
    color: #fff;
}

.ContactForm {
    padding-bottom: 0.9375rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.0625rem solid #ccc;
    margin-bottom: 3.125rem;
}

form .far {
    font-size: 1.125rem;
    margin-right: 0.625rem;
}

form input {
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

form button .fas {
    font-size: 1rem;
    color: #ccc;
}

hr {
    width: 84%;
    border: 0;
    border-bottom: 0.0625rem solid #1B222B;
    margin: 20px auto;
}

.contactInfo {
    text-align: right;
    white-space: pre-line;
}

.centeredText {
    text-align: center;
}

.underline {
    width: 100%;
    height: 0.125rem;
    background: #1b222b;
    border-radius: 0.1875rem;
    position: absolute;
    top: 1.5625rem;
    left: 0;
    overflow: hidden;
}

.underline span {
    width: 0.9375rem;
    height: 100%;
    background: #eaeaea;
    border-radius: 0.1875rem;
    position: absolute;
    top: 0;
    left: 0.625rem;
    animation: moving linear 2s infinite;
}

.Form {
    display: flex;
    flex-direction: column;
    width: 12.5rem;
}

.group {
    position: relative;
    margin-bottom: 2rem;
}